{% extends 'main/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'order/css/cart.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5 text-white">
    <h1 class="mb-4">Shopping Cart</h1>
    <table class="table table-bordered text-white" style="--bs-table-bg: None; --bs-table-color: None">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Product</th>
          <th scope="col">Image</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        {% for cart_item in cart_items %}
            <tr>
            <td>{{cart_item.name}}</td>
            <td>
                <img src="{{cart_item.img.url}}" class="img-fluid h-25 w-25 cart-image" alt="Flower Image">
            </td>
            <td>
                <input type="number" class="form-control" value="1" min="1">
            </td>
            <td> {{cart_item.price}}zl </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="text-right">
      <!-- <h4>Subtotal: $15.99</h4> -->
      <!-- <button class="btn btn-primary">Checkout</button> -->
    </div>
</div>
{% endblock %}